<li>
  <%= check_box :task, :completed %>
  <%= task.title %> 

  <span class="pull-right">
    <%= time_ago_in_words(task.due_date) %>
    <%= link_to 'Show', task %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
  </span>
</li>