<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header class="row-fluid">
      <div class="span5">
        <h1>Daniel's Dashboard</h1>
      </div>

      <div class="pull-right panel form-search">
        <a href="https://w3.ibm.com/bluepages/myProfile.wss">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="input-medium search-query" type="textbox" placeholder="Search" />
        <button type="submit" class="btn">Search</button>
      </div>
    </header>

    <div class="row-fluid">
      <ul class="nav nav-pills">
        <li class="active"><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><a href="#3" data-toggle="tab">Calendar</a></li>
        <li><a href="#4" data-toggle="tab">Notebook</a></li>
      </ul>
    </div>
    
    <%= yield %>
  </div>
</body>
</html>
